/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: #f0f0f0;
    padding: 40px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Styling the input fields */
.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #666;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

/* Hover effects for input fields */
input:focus {
    border-color: #007bff;
    outline: none;
}

/* Styling the button */
.btn-login {
    background-color: #007bff;
    color: rgb(61, 59, 59);
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for button */
.btn-login:hover {
    background-color: #0056b3;
}

/* Additional styles */
input::placeholder {
    color: #999;
}
